## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sola,VU,-13.8833,167.5500,79.39,76,2,10.04,clear sky
1,1,Namatanai,PG,-3.6667,152.4333,77.68,85,25,6.53,scattered clouds
2,2,Kruisfontein,ZA,-34.0033,24.7314,55.69,83,99,11.52,light rain
3,3,Ushuaia,AR,-54.8000,-68.3000,42.42,81,20,19.57,few clouds
4,4,Cape Town,ZA,-33.9258,18.4232,58.08,81,75,19.57,broken clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_preferred_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_preferred_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sola,VU,-13.8833,167.5500,79.39,76,2,10.04,clear sky
1,1,Namatanai,PG,-3.6667,152.4333,77.68,85,25,6.53,scattered clouds
5,5,Manono,CD,-7.3000,27.4167,83.07,22,23,1.25,few clouds
7,7,Dubrovnik,HR,42.6481,18.0922,83.84,51,0,8.05,clear sky
8,8,Kapaa,US,22.0752,-159.3190,76.12,88,9,9.35,clear sky

In [11]:
# 4a. Determine if there are any empty rows.
print(len(cities_preferred_df))
cities_preferred_df.count()

360

City_ID                360
City                   360
Country                360
Lat                    360
Lng                    360
Max Temp               360
Humidity               360
Cloudiness             360
Wind Speed             360
Current Description    360
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_preferred_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

360

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sola,VU,-13.8833,167.5500,79.39,76,2,10.04,clear sky
1,1,Namatanai,PG,-3.6667,152.4333,77.68,85,25,6.53,scattered clouds
5,5,Manono,CD,-7.3000,27.4167,83.07,22,23,1.25,few clouds
7,7,Dubrovnik,HR,42.6481,18.0922,83.84,51,0,8.05,clear sky
8,8,Kapaa,US,22.0752,-159.3190,76.12,88,9,9.35,clear sky

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sola,VU,79.39,clear sky,-13.8833,167.5500,
1,Namatanai,PG,77.68,scattered clouds,-3.6667,152.4333,
5,Manono,CD,83.07,few clouds,-7.3000,27.4167,
7,Dubrovnik,HR,83.84,clear sky,42.6481,18.0922,
8,Kapaa,US,76.12,clear sky,22.0752,-159.3190,
10,Saint-Philippe,RE,71.22,scattered clouds,-21.3585,55.7679,
14,Komsomolskiy,UZ,79.52,clear sky,40.4272,71.7189,
15,Homburg,DE,77.83,few clouds,49.3167,7.3333,
16,Kahului,US,78.84,few clouds,20.8947,-156.4700,
18,Labuan,MY,82.76,few clouds,5.2767,115.2417,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sola,VU,79.39,clear sky,-13.8833,167.5500,Leumerus Bungalows
1,Namatanai,PG,77.68,scattered clouds,-3.6667,152.4333,Seagulls Inn Namatani
5,Manono,CD,83.07,few clouds,-7.3000,27.4167,Hotel hewa bora
7,Dubrovnik,HR,83.84,clear sky,42.6481,18.0922,Hotel Dubrovnik Palace
8,Kapaa,US,76.12,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Saint-Philippe,RE,71.22,scattered clouds,-21.3585,55.7679,Le four à pain
14,Komsomolskiy,UZ,79.52,clear sky,40.4272,71.7189,Ikathouse
15,Homburg,DE,77.83,few clouds,49.3167,7.3333,Hotel Stadt Homburg Sleep and Sense GmbH
16,Kahului,US,78.84,few clouds,20.8947,-156.4700,Maui Seaside Hotel
18,Labuan,MY,82.76,few clouds,5.2767,115.2417,Tiara Labuan Hotel

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))